<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>고객목록입니댜</h1>
<form action="@{/}">
<ol>
<li th:each="dto:${list}">
<a th:href="@{/member/detail(id = ${dto.id})}">
<input type="radio" name="id" th:value="${dto.id}">
<span th:text="${dto.id}"></span>
 </a>
</li>
</ol>
<button formaction="update-form">수정</button>
<button formaction="/member/delete-form">삭제</button>
</form>
</body>
</html>